.btn-submit {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 10px 20px;
  background-color: var(--brand-dark);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 177px;
  height: 48px;
}

.button-container {
  width: 560px;
  display: flex;
  margin-top: 3rem;
  justify-content: flex-end;
}