.form-container {
  width: 560px;
  display: grid;
  grid-template-columns: 1fr;
  
}

.input-row {
  display: flex;
  gap: 10px;
}

.input-half {
  flex: 1;
}

.checkbox-container {
  margin-bottom: 10px;
}