.form-container {
  width: 560px;
  display: grid;
  grid-template-columns: auto;
  
}

.input-row {
  width: 560px;
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.input-half {
  flex: 1;
}


.input-row label {
  display: block;
  margin-bottom: 1rem;
}

.checkbox-container {
  width: 560px;
  margin-top: .5rem;
  margin-bottom: .5rem;
  display: flex;
  gap: .5rem;
  align-items: flex-start;
  position: relative;

  & label {
  font-family:'Open sans';
  font-weight: 600;
  font-size: 14px;
  }

  & strong {
  text-decoration: underline;
  font-family:'Open sans';
  font-weight: 600;
  font-size: 14px;
  color:var(--brand-light);
  }



  & [type="checkbox"] {
    all: unset;
    position: absolute;
    inset: 0;
  }

  .checkbox-image {
    flex: 0 0 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-image: url(../../assets/icons/checkbox.svg);
  }

  &:has(:checked) .checkbox-image {
    background-image: url(../../assets/icons/checkbox-checked.svg);
  }
}