input {
  font-family: 'Open sans';
  color: var(--text-body);
  appearance: none;
  width: 100%;
  border-radius: .5rem;
  border: 2px solid transparent;
  outline: 2px solid var(--input-stroke);
  background-color: var(--input-base);
  padding: 1rem;
}

textarea {
  font-family: 'Open sans';
  color: var(--text-body);
  appearance: none;
  width: 560px;
  height: 136px;
  border-radius: .5rem;
  border: 2px solid transparent;
  outline: 2px solid var(--input-stroke);
  background-color: var(--input-base);
  margin-bottom: 3rem;
  margin-top: 1rem;
}

select {
  font-family: 'Open sans';
  color: var(--text-body);
  appearance: none;
  width: 100%;
  border-radius: .5rem;
  border: 2px solid transparent;
  outline: 2px solid var(--input-stroke);
  background-color: var(--input-base);
  padding: 1rem;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + .color {
  outline: 2px solid var(--brand-light);
}

.date-label {
  display: block;
  margin-bottom: 1rem;
}

.form-container {
  background-color: var(--input-base);
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 20px;
  align-items: center;

  & .span-error {
    font: 'Open sans';
    color: var(--danger);
    font-size: 12px;
  }
}

.toggle-container {
  display: flex;
  align-items: center;
  position: relative;
}

.toggle-container input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  width: 50px;
  height: 26px;
  top: 0;
  left: 0;
  cursor: pointer;
}

input:checked + .toggle-label {
  background-color: var(--brand-light);
}

input:checked + .toggle-label:before {
  transform: translateX(24px);
  background-color: var(--text-heading);
}

.toggle-label {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.4s;
}

.toggle-label:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: .16rem;
  top: .16rem;
  background-color: var(--input-stroke);
  border-radius: 50%;
  transition: transform 0.4s;
}

.toggle-text {
  font-family: 'Open sans';
  margin-left: 1rem;
  font-size: 14px;
  color: var(--text-body)
}

.file-container {
  display: flex;
  align-items: center;
}

.file-input {
  display: none;
}

.file-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--input-stroke);
  color: var(--text-heading);
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.file-placeholder {
  padding-left: 10px;
  color: var(--input-placeholder);
}

label {
  font-weight: bold;
  color: var(--text-body);
  font-family: 'Open sans';
}


.input-tittle {
gap: 8px;
width: 560px;
height: 48px;
background: #1C1F21;
border: 1px solid #363B40;
border-radius: 8px;
}

input:focus,
select:focus,
textarea:focus,
input[type="date"]:focus-within {
  outline: .25rem solid var(--input-stroke);
  border-color: var(--brand-light);
  outline-offset: .1px;
}

input[type="date"] {
  position: relative;
  color: var(--text-body);
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
}

.textarea-wrapper {
  display: flex;
  flex-direction: column;
}

.personalize {
  display: flex;
  flex-direction: column;
}

.colors {
 display: flex;
 gap: 1.5rem;
 margin-bottom: 3rem;
}

.title-events {
  margin-top: 4rem;
}

.input-wrapper:has([disabled]) {
  opacity: .5;
}

input {
  &[disabled] {
    background-color: var(--input-stroke);

    border: 1px solid var(--input-stroke);

    color: var(--text-body);
  }

  &:invalid {
    border: 0.125rem solid var(--danger)
  }

  &[required] + .error {
    display: flex;
    align-items: center;
    gap: .25rem;
    font-family:'Opens sans';
  }

  &:valid + .error {
    display: none;
  }
}

.radio-switch {
  font-size: 16px;
  width: 272px;
  height: 139px;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & h3 {
    font-size: 16px;
  }
}

.radio-wrapper {
  display: flex;
  align-items: center;
  margin-top: .5rem;
  font-family: 'Open sans';
  color: var(--text-body);
  appearance: none;
  width: 272px;
  height: 54px;
  border-radius: .5rem;
  border: 2px solid transparent;
  outline: 2px solid var(--input-stroke);
  background-color: var(--input-base);
}

.radio-container {
  background-color: var(--input-base);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.radio-container input[type="radio"] {
  display: none;
}

.radio-container label {
  display: flex;
  gap: .5rem;
  cursor: pointer;
  padding: .35rem;
  border-radius: 8px;
  transition: 0.3s;
  box-sizing: border-box;
  width: 134px;
  height: 48px;
  align-items: center;
}

.radio-container label img {
  max-width: 16px;
  display: block;
  transition: 0.3s;
}

#presencial:checked + label {
  background-color: var(--input-stroke);
}

#presencial:checked + label img {
  background-color: var(--input-stroke);
  content: url(/assets/icons/building-2.svg);
}

#online:checked + label {
  background-color: var(--input-stroke);
  border-color: var(--brand-light);
}

#online:checked + label img {
  content: url(/assets/icons/video2.svg);
}