input, textarea, select {
  appearance: none;
  width: 100%;
  border-radius: .5rem;
  border: 2px solid transparent;
  outline: 1px solid var(--input-stroke);
  background-color: var(--shape-body);

  padding: 1rem;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + .color {
  border: 4px solid var(--brand-light);
}




