#app {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 100vh; 
}

aside {
  background-color: var(--shape-body);
  background-image: url(../assets/images/Background.png);
  height: 100%;
  background-size: contain; 
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem;

  img {
    border-radius: 20px;
    padding: 2rem;
  }

  & h2 {
    font-family: 'Leckerli one';
    color: var(--pink);
    font-weight: 400;
    line-height: auto;
 }

 & p {
  font-family: 'baloo 2';
  color: var(--text-heading);
  font-weight: 600;
  line-height: auto;
 }
}

main {
  padding: 20px;
  background-color: var(--shape-body);

  & h1 {
  font-family: 'baloo 2';
  font-size: 28px;
  color: var(--text-heading);
  font-weight: 600;
  line-height: auto;
  }

  & h3 {
  font-family: 'baloo 2';
  font-size: 18px;
  color: var(--text-heading);
  font-weight: 600;
  line-height: auto;
  }
}

.main-container {

}

