aside {
  background-color: var(--shape-background);
  padding: 4rem;

  & .aside-container {
    max-width: 31rem;

    & > img {
     margin-top: 2rem;
    }
  }

  & h2 {
    font: 600 2.5/1.25 var(--font-family);
    margin-bottom: .5rem;
    & span {
      color: var(--text-highlight);
    }
  }
}